body {
    margin-right: 15px;
    margin-left: 15px;
    min-width: 1280px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

img {
    width: 100%;
}

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

li {
    display: flex;
    width: 300px;
    margin-right: 12px;
    margin-bottom: 10px;
    text-decoration: none;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

form > input {
    width: 300px;
}

.load_more {
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-item {
    margin-right: 10px;
}

.stats-item:last-child {
    margin-right: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    max-height: 600px;
}